<!doctype html>

<html>
    <head>
    
        <title>{{ aPage.strTitle }}</title>

        <meta name="description" content="{{ aPage.strDescription }}">

    </head>
    <body>
        <h1>Pokemons {{ aPage.strType }}</h1>

        <div>

            {% for pPokemon in aPokemons %}

                <div>
                    <span>{{ pPokemon.name }}</span>
                    <span> => </span>
                    <img src="https://raw.githubusercontent.com/ManzDev/vue-pokedex/master/assets/images/{{ '%03d' | format(pPokemon.id) }}.png" alt="{{ pPokemon.name }}" width="50" height="50">
                </div>

            {% endfor %}

        </div>
    </body>
</html>
