<!doctype html>

<html>
  <head>

    <title>{{ aPage.strTitle }}</title>

    <meta name="description" content="{{ aPage.strDescription }}">

  </head>
  <body>
    <h1>Users {{ aPage.strType }}</h1>

    <div>

      {% for uUser in aUsers %}

        <div>
          <span>{{ uUser.name }}</span>
          <span> | </span>
          <span>{{ uUser.email }}</span>
        </div>

      {% endfor %}

    </div>
  </body>
</html>
